files:
  /etc/nginx/conf.d/proxy.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 10M;
      # These are to increase the timeout from the default 60 seconds for nginx. Only used for worker instances,
      # otherwise nginx returns a 504 error
      proxy_connect_timeout     3600;
      proxy_send_timeout        3600;
      proxy_read_timeout        3600;
      send_timeout              3600;